:root {
  --primary-color: rgb(32, 5, 63);
  --primary-color-medium: rgb(52, 14, 95);
  --primary-color-light: rgb(219, 190, 253);
}

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(31, 30, 30);
}

h1 {
  text-align: center;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

form {
  margin: 3rem auto;
  border-radius: 6px;
  padding: 1rem;
  width: 30rem;
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea,
select {
  box-sizing: border-box;
  display: block;
  margin-bottom: 1rem;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  width: 100%;
  font: inherit;
  color: rgb(61, 58, 58);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: var(--primary-color-light);
}

button {
  display: block;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font: inherit;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-medium);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  margin-right: 0.5rem;
  width: auto;
}
