body {
  font-family: Roboto, sans-serif;
  background-color: #ecfcfd;
}

h1 {
  margin: 2rem;
  text-align: center;
}

form {
  margin: auto;
  border-radius: 6px;
  padding: 1rem;
  width: 40rem;
  background-color: #f6faff;
  box-shadow: 0 2px 8px #00000033;
}

section {
  margin-bottom: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

label {
  display: block;
  margin: 0.5rem 0;
  color: #424c61;
}

input,
textarea,
select {
  box-sizing: border-box;
  display: block;
  border: 1px solid #989fb8;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  font: inherit;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: #d9e3f7;
}

button {
  border: 1px solid #334364;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  font: inherit;
  cursor: pointer;
}

#form-actions {
  text-align: right;
}

.inline-control {
  display: flex;
}

.inline-control label {
  margin: 0 0 0 0.5rem;
}

.inline-control input {
  width: auto;
}

.btn-filled {
  color: #fff;
  background-color: #334364;
}

.btn-filled:hover {
  border-color: #455981;
  background-color: #455981;
}

.btn-empty {
  color: #334364;
  background-color: transparent;
}
.btn-empty:hover {
  background-color: #d0d7e6;
}
